<head>
    <link rel="stylesheet" href="/css/style.css">

</head>

<% layout("/layouts/boilerplate") %>

<body>

    <h1> <%= singleListing.title %> </h1>
    <p> <%= singleListing.description %></p>
    <p> &#8377; <%=  singleListing.price.toLocaleString("en-IN") %></p>
    <p> <%= singleListing.location %></p>
    <p> <%= singleListing.country %></p>

    <a href="/listings/<%= singleListing._id %>/edit">Edit this listing</a>

    <form method="post" action="/listings/<%= singleListing._id %>?_method=DELETE"> 
        <button>DELETE</button>
    </form>
</body>
